.game-container {
    width: 500px;
    height: 730px;
    /*The element is positioned relative to its positioned ancestor element*/
    /*which means it'll be based on parents' dimensions & position*/
    position: absolute; 
}

.sky {
    background-color: blue;
    width: 500px;
    height: 580px;
    position: absolute;
}

.ground {
    background-color: brown;
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
}

.bird {
    background-color: yellow;
    position: absolute;
    width: 60px;
    height: 45px;
}

.obstacle {
    background-color: green;
    width: 60px;
    height: 300px;
    position: absolute;
}